# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/DataStructure/FileContentIndex/040f9cfe-3183-432d-b0d3-a10cf793976a.vsidx
.vs/DataStructure/FileContentIndex/075eaf4a-a3b6-4f52-af37-615e7be7d0b6.vsidx
.vs/DataStructure/FileContentIndex/338601fe-f4be-45e0-9f5e-7ab4f18116f1.vsidx
.vs/DataStructure/FileContentIndex/6139b4d7-0696-483c-98e0-79ad9aa7e96a.vsidx
.vs/DataStructure/FileContentIndex/7bb536af-b8f9-43d5-a73d-7d0cf40da170.vsidx
.vs/DataStructure/v17/.suo
.vs/DataStructure/v17/Browse.VC.db
.vs/DataStructure/v17/DocumentLayout.json
.vs/DataStructure/v17/Solution.VC.db
.vs/DataStructure/v17/ipch/AutoPCH/1e9219884b8332d5/MAIN.ipch
.vs/DataStructure/v17/ipch/AutoPCH/5307528bb3c81285/MAIN.ipch
.vs/DataStructure/v17/ipch/AutoPCH/de9b58326504e536/POLYNOMIAL.ipch
.vs/DataStructure/v17/ipch/AutoPCH/f5d14036cb6d4aa6/POLYNOMIAL.ipch
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
